#remote{
	width:1080px;
	height:720px;
	background: #e3e3e3;
    position: absolute;
}
#local {
    width: 240px;
    height: 144px;
    top:556px;
    left:820px;
    position: absolute;
}

footer {
    background: #222;
    color: #ccc;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
}

.container {
    width: 90%;
    margin: auto;
}

.video-container {
  position:relative;
}