#remote {
    width: 1080px;
    height: 570px;
}

#local {
    width: 240px;
    height: 144px;
}

footer {
    background: #222;
    color: #ccc;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

.container {
    width: 90%;
    margin: auto;
}
